@model ProcCore.Business.Logic.m_ActivePhoto[]

@using ProcCore.Business.Logic;
@using ProcCore.NetExtension;

@{
    ViewBag.Title = "活動剪影";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="content">

    <h3><span>活動剪影</span>ALBUMS</h3>

    <ol class="photo">
        <!--圖片寬度至少334px，一頁建議6本相簿-->
        @foreach (m_ActivePhoto md in Model)
        {
            var p = Html.ImgSrc("Sys_Active", "ActivePhoto", md.id, "ListIcon", 334);
            
            <li><a href="~/Albums/content/@md.id">
                <img src="@p"><em>@md.title</em></a></li>
        }
    </ol>

    <ul class="pager">
        <li class="prev"><a href="#">上一頁</a></li>
        <li class="current">1</li>
        <!-- 當前頁 -->
        <li class="next"><a href="#">下一頁</a></li>
    </ul>

</div>
<!-- content //-->
