@model ProcCore.Business.LogicL.m_PageContext
@{
    ViewBag.Title = "聯絡我們";
    Layout = "~/Areas/tfta/Views/Shared/Layout.cshtml";
}

<div id="content">

    <h3><span>聯絡我們</span>CONTACT US</h3>

    <div id="upload">
        <!--編輯器資料-->              @Html.Raw(Model.pagecontext)
    </div>
    <!-- upload //-->

</div>
<!-- content //-->
