@model ProcCore.Business.Logic.m_PageContext
@{
    ViewBag.Title = "核心技術";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="content">

    <h3><span>核心技術</span>TECHNOLOGY</h3>

    <div id="upload">
        <!--編輯器資料-->
        @Html.Raw(Model.pagecontext)
    </div><!-- upload //-->
</div><!-- Content //-->