@model ProcCore.Business.Logic.m_PageContext
@{
    ViewBag.Title = "中心主任";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.subnav = "sn1-3";
}

@section breadCrumb {
    <li><a href="~/AboutUs">關於中心</a></li>
}

@Html.Partial("sidebar")

<div id="content">

    <h3><span>中心主任</span>SUPERVISOR</h3>
    <div id="upload">
        @* 編輯器資料 *@
        @Html.Raw(Model.pagecontext)
    </div><!-- upload //-->

</div>