@model DotWeb.WebApp.網頁L
@{
    ViewBag.Title = "入會方式";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.subnav = "sn1-7";
}

@section breadCrumb {
    <li><a href="~/AboutUs/tfta">關於聯盟</a></li>
}

<div id="content">

    <h3><span>入會方式</span>APPLY</h3>

    <div id="upload">
        @* 編輯器資料 *@
        @Html.Raw(Model.網頁內容)
        @*套程式-合併聯盟資料庫*@
    </div><!-- upload //-->

</div><!-- content //-->
