@model DotWeb.WebApp.網頁L
@{
    ViewBag.Title = "聯盟緣起";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.subnav = "sn1-5";
}

@section breadCrumb {
    <li><a href="~/AboutUs/tfta">關於聯盟</a></li>
}

@Html.Partial("sidebar")

<div id="content">

    <h3><span>聯盟緣起</span>THE BEGINNING</h3>

    <div id="upload">
        @* 編輯器資料 *@
        @Html.Raw(Model.網頁內容)
        @*套程式-合併聯盟資料庫*@
    </div><!-- upload //-->

</div><!-- content //-->
