@model DotWeb.WebApp.網頁L
@{
    ViewBag.Title = "廠商連結";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.subnav = "sn1-8";
}

@section breadCrumb {
    <li><a href="~/AboutUs/tfta">關於聯盟</a></li>
}

<div id="content">

    <h3><span>廠商連結</span>TFTA MEMBERSS</h3>

    <div id="upload">
        @* 編輯器資料 *@
        @Html.Raw(Model.網頁內容)
        @*套程式-合併聯盟資料庫(原聯盟成員)*@
    </div><!-- upload //-->

</div><!-- content //-->
