@model ProcCore.Business.Logic.m_PageContext
@{
    ViewBag.Title = "儀器設備";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h3><span>儀器設備</span>EQUIPMENT</h3>

<div id="upload">
    @* 編輯器資料-客戶有更新，要取新資料庫 *@
    @Html.Raw(Model.pagecontext)
</div><!-- upload //-->

