@model ProcCore.Business.LogicL.m_PageContext
@{
    ViewBag.Title = "儀器設備";
    Layout = "~/Areas/tfta/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/tfta/Equip">產學服務</a></li>
}

<div id="content">

    <h3><span>儀器設備</span>EQUIPMENT</h3>

    <div id="upload">
        <!--編輯器資料-->

                     @Html.Raw(Model.pagecontext)

    </div>
    <!-- upload //-->

</div>
<!-- content //-->
