@import "base/basic.css";
@import "base/layout.css";
@charset "utf-8";

/*-- all --*/

h3 {
    margin: 0;
    padding-bottom: 15px;
    background-image: url('../images/dot3.gif');
}

h3 span {
    margin: 0;
    padding: 5px 0 8px 42px;
    background: url('../images/icon.png') no-repeat -5px 0;
}

/* news */

.news {
    float: right;
    width: 320px;
    min-height: 400px;
}

.news h3 span {
    background-position: 0 -56px;
}

.news li {
    position: relative;
    margin-top: 5px;
    padding: 10px 0 15px 0;
    background: url('../images/dot4.gif') repeat-x left bottom;
    clear: both;
    overflow: hidden;
}

.news li > em {
    float: left;
    display: inline-block;
    width: 32px;
    height: 48px;
    margin: -8px 5px 0 0;
    padding: 5px 9px;
    text-align: center;
    color: #839FAD;
    font-size: .8em;
    background: url('../images/date.png') no-repeat;
}

.news li > em span {
    display: block;
    color: #5599BB;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 90%;
}

.news li > span {
    display: block;
    width: 255px;
    float: right;
}

.news li > span .btn {
    display: block;
    width: 5.5em;
    margin-top: 7px;
}


/* about */

.about,
.album {
    float: left;
    width: 620px;
}

.about {
    margin-bottom: 35px;
    color: #666;
}

.about h3 {
    margin-bottom: 12px;
}

.about img {
    display: block;
    margin: 0 auto 10px auto;
}

.about p {
    width: 600px;
    margin: 0 auto;
    /*font-size: .95em;*/
    text-indent: 0;
}


/* link */

/*.link {
    float: left;
    width: 242px;
    margin-right: 36px;
}

.link h3 {
    margin-bottom: 2px;
    background-image: url('../images/dot.gif');
}

.link h3 span {
    padding-left: 52px;
    background-position: 0 -109px;
}

.link li {
    margin-top: 10px;
    text-align: center;
}*/


/* album */

.album h3 {
    /*margin-bottom: 12px;*/
    background-image: url('../images/dot.gif');
}

.album h3 span {
    /*padding-left: 54px;*/
    /*background-position: 0 -163px;*/
    background-position: 0 center;
    background-image: url('../images/index/icon_album.gif');
}

figure {
    position: relative;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
}
figure > a {
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    background: #fff; /* for ie bug */
}

figcaption {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: 15px;
    margin-top: 12px;
    font-size: 1.22em;
    -webkit-transition: color .3s;
    -ms-transition: color .3s;
    transition: color .3s;
}
figcaption::before, figcaption::after {
    pointer-events: none;
}

figure img,
figcaption { float: left; }

figure img {
    display: block;
    width: 334px;
    /*margin: 0 auto 10px 0;*/
    border: 2px solid #ddd;
    -webkit-transition: border-color .5s;
    -ms-transition: border-color .5s;
    transition: border-color .5s;
}

figure:hover figcaption { color: #b3b3b3 }
figure:hover img {
    border-color: #fff;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}

/*.album a {
    color: #666;
    font-weight: bold;
}

.album a:hover {
    color: #B3B3B3;
}*/

.more {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 39px;
    height: 11px;
    padding: 7px 0 7px 23px;
    color: #1E96A3;
    font-size: .9em;
    background: url('../images/more.png') no-repeat;
}

.more:hover {
    color: #EF8F00;
}


/*-- layout --*/


/* header */

#header {
    height: 435px;
}


/* main */

#main {
    margin-top: 1px;
    padding-top: 35px;
    background-image: url('../images/bg2.gif');
}

#main > div {
    position: relative;
}


/* banner輪播 */

#slider {
    height: 325px;
}

#slider {
    background: url('../images/loading.gif') no-repeat 50% 50%;
    width: 980px;
    height: 325px;
    overflow: hidden;
}

#slider img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
    display: none;
}

#slider a {
    border: 0;
    display: block;
}

.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important;
}


/* If an image is wrapped in a link */

#slider a.nivo-imageLink {
    background: white;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 6;
    filter: alpha(opacity=0);
    opacity: 0;
}


/* The slices and boxes in the Slider */

.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
}

.nivo-box img {
    display: block;
}


/* Caption styles */

.nivo-caption {
    background: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    display: none;
    overflow: hidden;
    padding: 5px 10px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 8;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.nivo-caption p {
    padding: 5px;
    margin: 0;
}

.nivo-caption a {
    display: inline !important;
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.nivo-html-caption {
    display: none;
}


/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    text-align: center;
    padding: 15px 0;
    display: none;
}

.nivo-controlNav a {
    background: url('../../images/bullets.png') no-repeat;
    border: 0;
    text-indent: -9999px;
    cursor: pointer;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 2px;
}

.nivo-controlNav a.active {
    font-weight: bold;
    background-position: 0 -22px;
}

.nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}

.nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}

.nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}



