@import "base/basic.css";
@import "base/layout.css";
@charset "utf-8";

/*      sidebar
-----------------------------------------------------------------------*/

#sidebar h3 {
    height: 23px;
    padding: 10px 0 0 50px;
    color: #B58A69;
    font-size: 1.5em;
    font-weight: bold;
    background: url('../images/menu2.gif') 0 bottom no-repeat;
    border-bottom: 2px solid #D1EAEB;
}

/*
.News #sidebar h3,
.Tech #sidebar h3,
.Equip #sidebar h3,
.ContactUs #sidebar h3,
.Download #sidebar h3,
.Albums #sidebar h3,
.Member #sidebar h3 {
    background-image: none;
} */

.AboutUs #sidebar h3:first-of-type {
    background-image: url('../images/AboutUs/icon_center.gif');
}
.AboutUs #sidebar h3:nth-of-type(2) {
    background-image: url('../images/AboutUs/icon_tfta.gif');
}

#sidebar nav {
    margin-bottom: 30px;
}

#sidebar a {
    display: block;
    padding: 7px 0 7px 50px;
    font-weight: bold;
}

.Member #sidebar h3 {
    background-image: none;
    padding-left: 15px;
}
.Member #sidebar a {
    padding-left: 15px;
}

#sidebar nav a {
    color: #637B80;
    font-size: 1.1em;
    background: #E3EAED;
    margin-top: 2px;
    transition: background .5s ease;
}

#sidebar nav a:hover,
#sidebar nav .current {
    color: #00AFC0;
    background-color: #FFF;
}

#sidebar .contact {
    background: url('../images/nav_contact.gif') 0 0 no-repeat;
    font-size: 1.429em;
    color: #B58A69;
    padding-top: 11px;
    padding-bottom: 11px;
}
#sidebar .contact:hover {
    background-position: 0 -68px;
    color: #f6f6f6;
}

/*#sidebar .link {
    background: url('../../images/icon.png') no-repeat 0 -107px;
    border: 0;
    margin: 3px 0 0 0;
    padding-top: 15px;
    background: url('../../images/dot.gif') repeat-x;
}

#sidebar .link li {
    margin-top: 10px;
    text-align: center;
}

#sidebar .link a {
    display: inline;
    padding: 0;
    background: none;
}

.link img {
    width: 190px;
}*/

/*-- basic --*/

#content h3,
#main > h3 {
    margin-bottom: 15px;
}

#main > h3 {
    clear: both;
}

img.shadow {
    padding-bottom: 19px;
    width: 305px;
    background: url('../images/bg3.gif') no-repeat center bottom;
}

/* pager */

.pager {
    float: left;
    width: 648px; /*405px;*/
    margin: 10px auto;
    text-align: center;
    *zoom: 1;
    clear: both;
}

.pager li {
    font-size: 0.85em;
    text-indent: 0;
    margin: 0 2px;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
    background: none;
}

.pager a {
    background-attachment: fixed;
    border: 1px solid #eaeaea;
    color: #999;
    font-size: 0.85em;
    vertical-align: middle;
    display: block;
    padding: 2px 5px;
}

.pager a:hover {
    background: #eee;
}

.pager .current {
    color: #00AFC0;
    padding: 2px 6px;
}

.pager .prev a,
.pager .next a {
    width: 0px;
    height: 0px;
    padding: 0;
    text-indent: -9999px;
    border-style: solid;
    border-width: 3px 6px 3px 0;
    border-color: transparent #FFC73B transparent transparent;
}

.pager .next a {
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #FFC73B;
}

.pager .prev a:hover,
.pager .next a:hover {
    border-color: transparent #00AFC0 transparent transparent;
    background: none;
}

.pager .next a:hover {
    border-color: transparent transparent transparent #00AFC0;
}


/* 內頁reset */

#upload {
    margin: 0 0 20px 21px;
    overflow: hidden;
    clear: both;
}

#upload em {
    font-style: italic;
}

#upload ol,
#upload ul {
    margin: -3px 0 8px 0;
}

#upload li {
    padding: 3px 0 3px 12px;
    background: url('../images/arrow2.gif') no-repeat left 6px;
}

#upload ol {
    list-style: decimal inside;
}

#upload tr {
    border-bottom: 1px solid #eee;
}

#upload .reset tr {
    border: none;
}

#upload td {
    padding-top: 10px;
}

#upload .reset td {
    padding: 0;
}


/* �Ϥ��W�� */

#upload img {
    max-width: 100%;
}

#upload .full {
    margin-bottom: 0;
}

#upload .half a {
    display: block;
    max-width: 48%;
    margin: 1%;
}


/* ����U�� */

#upload .download {
    margin: 0 0 10px 0;
    padding: 10px;
    background: #fff;
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    clear: both;
}

#upload .download dt {
    color: #B58A69;
    font-size: 1.2em;
    font-weight: bold;
}

#upload .download dd {
    margin: 5px 0 0 17px;
}


/* news */

.newslist {
    float: left;
    width: 648px; /*405px;*/
}

.newslist li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: url('../images/dot4.gif') repeat-x left bottom;
    overflow: hidden;
}

.newslist em,
.newslist a {
    display: inline-block;
}

.newslist em {
    /*float: left;*/
    margin-right: 5px;
    color: #8DC1DF;
    font-size: .8em;
}

.newslist a {
    /*display: block;
    width: 330px;
    float: right;*/
    color: #808080;
}

.newslist a:hover {
    color: #00AFC0;
}

.newstitle em {
    margin-right: 7px;
}

.News .btn {
    float: right;
    margin-left: 8px;
}


/* Download */

.file {
    float: left;
    width: 648px; /*405px;*/
}

.file li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: url('../images/dot4.gif') repeat-x left bottom;
}

.file a {
    padding-left: 10px;
    color: #808080;
    background: url('../images/arrow.gif') no-repeat 0 4px;
}

.file a:hover {
    color: #00AFC0;
}


/* Album */

.photo {
    text-align: center;
    margin: 0 auto 10px auto;
    *zoom: 1;
}

.photo em {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 5px;
    color: #808080;
    background: #fff;
    box-sizing: border-box;
}

.photo img {
    vertical-align: middle;
    width: 220px;
    min-height: 142px;
    overflow: hidden;
}

.photo li {
    display: inline-block;
    padding: 5px;
    *display: inline;
    *zoom: 1;
}

.photo a {
    position: relative;
    float: left;
    display: table-cell;
    height: 155px;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
}

.photo a:hover,
.photo a:hover em {
    color: #339CD8;
    background: #eee;
    border-color: #ddd;
}

.Albums .pager {
    width: 100%;
}

.Albums .btn {
    float: right;
    margin: 0 5px 0 6px;
}

.Albums.p2 .photo a {
    height: 142px;
    padding: 0;
    border: 5px solid #eee;
}

.Albums.p2 .photo a:hover {
    border-color: #E5D6C9;
}


/* Member */

#upload table.member {
    margin: -10px 0 0 0;
    text-align: left;
}

#upload .member tr {
    background: url('../images/dot4.gif') repeat-x left bottom;
}

#upload .member th {
    width: 100px;
    height: 107px;
    padding: 10px 0;
}

#upload .member.small th {
    width: 70px;
    height: 80px;
    vertical-align: top;
}

#upload .member th img {
    max-width: 83px;
    max-height: 103px;
    border: 2px solid #ddd;
}

#upload .member.small th img {
    max-width: 55px;
    max-height: 68px;
}

#upload .member td {
    width: 600px;
    padding: 10px 0;
    vertical-align: top;
}

#upload .member.small td {
    width: 152px;
    padding: 10px 5px 10px 0;
}

#upload .member td h4 {
    margin-bottom: 5px;
}

#upload .member td a.mail {
    margin-left: 5px;
}

#upload .member td em {
    display: block;
    margin: 0 0 5px 0;
    color: #999;
    font-style: normal;
}


/* Equip */

#upload table.equip tr {
    border: none;
}

#upload .equip th {
    width: 220px;
    height: 142px;
    padding: 5px 5px 0 5px;
    background: #fff;
    border-left: 5px solid #f7f7f7;
    border-right: 5px solid #f7f7f7;
}

#upload .equip td {
    padding: 5px;
    background: #fff;
    border-left: 5px solid #f7f7f7;
    border-right: 5px solid #f7f7f7;
    border-bottom: 10px solid #f7f7f7;
}


/*.Equip #upload .photo {
  text-align: center;
  margin: 0 auto 10px auto;
  *zoom:1;
  }
.Equip #upload .photo em {
  position: absolute;
  bottom:0; left:0;
  display:block;
  width:100%;
  padding:5px 0;
  color:#808080;
  font-style:normal;
  background:#fff;
  }
.Equip #upload .photo img {
  vertical-align: middle;
  width:220px;
  min-height:142px;
  overflow:hidden;
    }
.Equip #upload .photo li{
  display: inline-block;
  padding:5px;
  background:none;
  *display:inline;
  *zoom:1;
  }
.Equip #upload .photo span {
  position: relative;
  float:left;
  display: table-cell;
  height:155px;
  padding:4px;
  text-align:center;
  vertical-align: middle;
  background:#fff;
  border: 1px solid #eee;
  overflow:hidden;
  }*/


/*-- layout --*/



