@model ProcCore.Business.LogicL.m_PageContext
@{
    ViewBag.Title = "聯盟成員";
    Layout = "~/Areas/tfta/Views/Shared/Layout.cshtml";
}

@section breadCrumb {
    <li><a href="~/tfta/AboutUs">聯盟簡介</a></li>
}

<div id="content">

    <h3><span>聯盟成員</span>TFTA MEMBERS</h3>

    <div id="upload">
        <!--編輯器資料-->
        @Html.Raw(Model.pagecontext)
        

    </div>
    <!-- upload //-->

</div>
<!-- content //-->
